<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Support Request Submitted</title>
</head>
<body>
    <h2>Support request submitted successfully</h2>

    <p th:text="'Customer ID: ' + ${supportDetails.id}" />
    <p th:text="'Name: ' + ${supportDetails.name}" />
    <p th:text="'Email: ' + ${supportDetails.email}" />
    <p th:text="'Gender: ' + ${supportDetails.gender}" />
    <p th:text="'Membership: ' + ${supportDetails.membership}" />
    <p th:text="'Content: ' + ${supportDetails.content}" />

    <a href="/support">Submit Another</a>
</body>
</html>